.container-fluid{
    padding: 0px;
}

.navbar{
    background-color: #1a273d;
}

.navigation-bar{
    width: 90%;
    margin: 0px auto;
}

.logo{
    float: left;
}

.input{
    float: right;
    padding-top: 10px;
}

.logo-text{
    font-family: sans-serif;
    font-size: 20pt;
    color: white;
}

.input-form{
    padding-top: 20px;
    float: right;
}

.body-container{
    width: 90%;
    margin: 0px auto;
}

.card-container{
    width: 1500px;
    margin: 10px auto;
}

.alert-secondary div{
    margin-top: 100px;
}

.text-center img{
    width: 1500px;
    height: 500px;
}

.card-img-overlay h1{
    padding-top: 150px;
    color: white;
    font-size: 50pt;   
}

.content-1-container{
    padding-top: 150px;
}

.content-1-container img{
    width: 900px;
    height: 500px;
}

.card-text-container{
    width: 35%;
    float: right;
}

.card-text-container div{
    background-color: #6498ea;
}

.content-2-container{
    padding-top: 150px;
    height: auto;
}

.card-text-right{
    width: 35%;
    float: left;
    background-color: #6498ea;
    border-radius: 2%;
}

.img-2-container{
    text-align: right;
}

.img-2-container img{
    width: 900px;
    height: 500px;
}

.card{
    border-radius: 2%;
}

@media (max-width: 640px)
{
    .text-center img{
        width: 70%;
        height: 100px;
    }
}